
.fSec2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: rgb(216, 216, 248); */
    background-color: #dde1f0;
    padding: 40px 80px;
    width: 100%;
}
.copyRight{
    display: flex;
    justify-content: space-between;
    button{
        padding: 10px 40px;
        color: white;
        background-color: rgb(5, 5, 54);
        transition: all 0.3s ease;

        &:hover{
            background-color: blue;
        }
        
        p{
            color: rgb(132, 132, 245);
            font-weight: bold;
        }
    }
}
.footer{
    display: flex;
    justify-content: space-between;
}
.navFooter{
    display: flex;
    gap: 10px;
    color:rgb(146, 146, 233)
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    a{
        color: rgb(147, 147, 236);
        transition: all 0.3s ease;

       &:hover{
        color: blue;
       }
    }
    
}