.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 ;
    background-color: #E7ECFF;
    
}
.footer-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    span{
        width: 500px;
        text-align: center;
        color: rgb(145, 145, 247);
    }
}
.fPrice{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    h1{
        font-size: 55px;
        font-weight: 520;
        color: rgb(8, 8, 92);
    }
}
.fButton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    p{
        color: rgb(133, 133, 238);
    }
    button{
        padding: 10px 40px;
        color: white;
        background-color: rgb(5, 5, 54);
        transition: all 0.2s ease-in;

        &:hover{
            background-color: rgb(53, 53, 241);
        }
    }
}