.SecTwoCon{
    display: flex;
    justify-content: space-between;
    padding:80px 120px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: sans-serif;
}
.secTwoImg{
    img{
        width: 400px;
    }
}
.secTwoText{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: sans-serif;
}
.icons{
    display: flex;
    gap: 50px;
}
.icon-items{
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    p{
        color: rgb(114, 114, 243);
    }
}
.text-items{
   display: flex;
   flex-direction: column;
   gap: 18px;

   span{
   width: 500px;
   color: rgb(114, 114, 243);
   }
}